# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# py env
bg-sniper-env

# Coverage output
.coverage

# Unrelated files
.private

#Database
*.sqlite

reference.html